<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Brands>
            <version>0.1.2</version>
        </Flag_Brands>
    </modules>

    <frontend>
        <routers>
            <flag_brands>
                <use>standard</use>
                <args>
                    <module>Flag_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </flag_brands>
        </routers>
        <layout>
            <updates>
                <smart_vendors>
                    <file>flag_brands.xml</file>
                </smart_vendors>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <flag_brands>
                <class>Flag_Brands_Model</class>
            </flag_brands>
            <catalog>
                <rewrite>
                    <layer>Flag_Brands_Model_Catalog_Layer</layer>
                    <category>Flag_Brands_Model_Catalog_Category</category>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <flag_brands>
                <class>Flag_Brands_Block</class>
            </flag_brands>
            <catalog>
                <rewrite>
                    <layer_view>Flag_Brands_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <flag_brands>
                <class>Flag_Brands_Helper</class>
            </flag_brands>
        </helpers>
        <resources>
            <flag_brands_setup>
                <setup>
                    <module>Flag_Brands</module>
                </setup>
            </flag_brands_setup>
        </resources>
    </global>
</config>