<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Bankpayment>
            <version>0.1.1</version>
        </Flag_Bankpayment>
    </modules>
    <global>
        <models>
            <flag_bankpayment>
                <class>Flag_Bankpayment_Model</class>
                <resourceModel>flag_bankpayment_resource</resourceModel>
            </flag_bankpayment>
            <flag_bankpayment_resource>
                <class>Flag_Bankpayment_Model_Resource</class>
            </flag_bankpayment_resource>
        </models>
        <blocks>
            <flag_bankpayment>
                <class>Flag_Bankpayment_Block</class>
            </flag_bankpayment>
        </blocks>
        <helpers>
            <flag_bankpayment>
                <class>Flag_Bankpayment_Helper</class>
            </flag_bankpayment>
        </helpers>
        <resources>
            <flag_bankpayment_setup>
                <setup>
                    <module>Flag_Bankpayment</module>
                </setup>
            </flag_bankpayment_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <bank_info>
                    <to_order_payment>*</to_order_payment>
                </bank_info>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <pay>
                <active>1</active>
                <model>flag_bankpayment/pay</model>
                <order_status>processing</order_status>
                <title>Chuyển khoản ngân hàng</title>
            </pay>
        </payment>
    </default>
</config>