<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Featureproductpage>
            <version>0.1.0</version>
        </Flag_Featureproductpage>
    </modules>
    <global>
        <models>
            <flag_featureproductpage>
                <class>Flag_Featureproductpage_Model</class>
                <resourceModel>flag_featureproductpage_resource</resourceModel>
            </flag_featureproductpage>
            <flag_featureproductpage_resource>
                <class>Flag_Featureproductpage_Model_Resource</class>
            </flag_featureproductpage_resource>
        </models>
        <blocks>
            <flag_featureproductpage>
                <class>Flag_Featureproductpage_Block</class>
            </flag_featureproductpage>
        </blocks>
        <helpers>
            <flag_featureproductpage>
                <class>Flag_Featureproductpage_Helper</class>
            </flag_featureproductpage>
        </helpers>
        <resources>
            <flag_featureproductpage_setup>
                <setup>
                    <module>Flag_Featureproductpage</module>
                </setup>
            </flag_featureproductpage_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <flag_featureproductpage>
                <use>standard</use>
                <args>
                    <module>Flag_Featureproductpage</module>
                    <frontName>san-pham-noi-bat</frontName>
                </args>
            </flag_featureproductpage>
        </routers>
        <layout>
            <updates>
                <featureproductpage>
                    <file>featureproductpage.xml</file>
                </featureproductpage>
            </updates>
        </layout>
    </frontend>
</config>