<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Saleproductpage>
            <version>0.1.0</version>
        </Flag_Saleproductpage>
    </modules>
    <global>
        <models>
            <flag_saleproductpage>
                <class>Flag_Saleproductpage_Model</class>
                <resourceModel>flag_saleproductpage_resource</resourceModel>
            </flag_saleproductpage>
            <flag_saleproductpage_resource>
                <class>Flag_Saleproductpage_Model_Resource</class>
            </flag_saleproductpage_resource>
        </models>
        <blocks>
            <flag_saleproductpage>
                <class>Flag_Saleproductpage_Block</class>
            </flag_saleproductpage>
        </blocks>
        <helpers>
            <flag_saleproductpage>
                <class>Flag_Saleproductpage_Helper</class>
            </flag_saleproductpage>
        </helpers>
        <resources>
            <flag_saleproductpage_setup>
                <setup>
                    <module>Flag_Saleproductpage</module>
                </setup>
            </flag_saleproductpage_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <flag_saleproductpage>
                <use>standard</use>
                <args>
                    <module>Flag_Saleproductpage</module>
                    <frontName>san-pham-giam-gia</frontName>
                </args>
            </flag_saleproductpage>
        </routers>
        <layout>
            <updates>
                <saleproductpage>
                    <file>saleproductpage.xml</file>
                </saleproductpage>
            </updates>
        </layout>
    </frontend>
</config>