<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0095settings>
            <version>0.1.0</version>
        </EM_Em0095settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0095>
                                            <title>Image Configure</title>
                                        </em0095>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <em0095settings>
                    <file>em0095settings.xml</file>
                </em0095settings>
            </updates>
        </layout>
        <menu>
            <emthemes translate="title">
                <title>EMThemes</title>
                <sort_order>72</sort_order>
                <children>
                    <em0095_setting module="em0095settings" translate="title">
                        <title>Em0095 BabyCare Settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/system_config/edit/section/em0095/</action>
                    </em0095_setting>                    
                    <help module="em0095settings" translate="title">
                        <title>Help &amp; Support</title>
                        <sort_order>200</sort_order>
                        <children>
            				<em0095_userguide module="em0095settings" translate="title">
            					<title>Em0095 BabyCare User Guide</title>
            					<sort_order>10</sort_order>
            					<action>adminhtml/em0095settings_link/userguide/</action>
            				</em0095_userguide>
            				<forum module="em0095settings" translate="title">
            					<title>Community Forum</title>
            					<sort_order>20</sort_order>
            					<action>adminhtml/em0095settings_link/gotoforum/</action>
            				</forum>
            				<ticket module="em0095settings" translate="title">
            					<title>Submit a Support Ticket</title>
            					<sort_order>30</sort_order>
            					<action>adminhtml/em0095settings_link/submitticket/</action>
            				</ticket>
                            <em0095_sample_data module="em0095settings" translate="title">
                                <title>EM0095 Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/em0095settings_theme/export/</action>
                            </em0095_sample_data>
                            
                        </children>
                    </help>
                    <more module="em0095settings" translate="title">
                        <title>More...</title>
                        <sort_order>210</sort_order>
                        <children>
                            <customization module="em0095settings" translate="title">
                                <title>I need theme customization</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/em0095settings_link/service_customization/</action>
                            </customization>
                            <design module="em0095settings" translate="title">
                                <title>I need custom design</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/em0095settings_link/service_design/</action>
                            </design>
                            <dev module="em0095settings" translate="title">
                                <title>Extension Development</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/em0095settings_link/service_extdev/</action>
                            </dev>
                            <boost module="em0095settings" translate="title">
                                <title>Speed Optimization</title>
                                <sort_order>40</sort_order>
                                <action>adminhtml/em0095settings_link/service_boost/</action>
                            </boost>
                            <more module="em0095settings" translate="title">
                                <title>More...</title>
                                <sort_order>60</sort_order>
                                <action>adminhtml/em0095settings_link/service_more/</action>
                            </more>
                        </children>
                    </more>
                </children>
            </emthemes>
        </menu>
    </adminhtml>

    <frontend>
        <routers>
            <em0095settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0095settings</module>
                    <frontName>em0095settings</frontName>
                </args>
            </em0095settings>
        </routers>
        <layout>
            <updates>
                <em0095settings>
                    <file>em0095settings.xml</file>
                </em0095settings>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
                <observers>
                    <themeframework_change_layout>
                        <type>singleton</type>
                        <class>EM_Em0095settings_Model_Observer</class>
                        <method>changeLayoutEvent</method>
                    </themeframework_change_layout>
                </observers>
            </controller_action_layout_generate_xml_before>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<em0095_config_after_save>
    					<class>EM_Em0095settings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</em0095_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<em0095settings>
    					<class>EM_Em0095settings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</em0095settings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<em0095settings before="Mage_Adminhtml">EM_Em0095settings_Adminhtml</em0095settings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0095settings>
							<title>em0095settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0095settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0095settings>
					<file>em0095settings.xml</file>
				</em0095settings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>EM_Em0095settings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <models>
            <em0095settings>
                <class>EM_Em0095settings_Model</class>
                <resourceModel>em0095settings_mysql4</resourceModel>
            </em0095settings>
            <em0095settings_mysql4>
                <class>EM_Em0095settings_Model_Mysql4</class>
                <entities>
                    <em0095settings>
                        <table>em0095settings</table>
                    </em0095settings>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </em0095settings_mysql4>
        </models>
        <resources>
            <em0095settings_setup>
                <setup>
                    <module>EM_Em0095settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0095settings_setup>
            <em0095settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0095settings_write>
            <em0095settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0095settings_read>
        </resources>
        <blocks>
            <em0095settings>
                <class>EM_Em0095settings_Block</class>
            </em0095settings>
        </blocks>
        <helpers>
            <em0095settings>
                <class>EM_Em0095settings_Helper</class>
            </em0095settings>
			<catalog>
				<rewrite>
					<image>EM_Em0095settings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<em0095>
			<general>
				<disable_default_nav>1</disable_default_nav>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
				<disable_footer_links>1</disable_footer_links>
                <box_wide>wide</box_wide>
			</general>
            <brandproduct>
                <attributecode>computer_manufacturers</attributecode>
                <column_count>5</column_count>
            </brandproduct>
            <typography>
                <google_fonts>Open Sans</google_fonts>
                <google_fonts_weights>400, 600, 700</google_fonts_weights>
            </typography>            
            <products_grid>
                <show_product_name>1</show_product_name>
                <show_sku>1</show_sku>
                <show_thumbnail>1</show_thumbnail>
                <show_desc>1</show_desc>
                <show_price>1</show_price>
                <show_reviews>1</show_reviews>
                <show_addtocart>1</show_addtocart>
                <show_addto>1</show_addto>
                <show_label>1</show_label>
            </products_grid>
            <products_list>
                <show_product_name>1</show_product_name>
                <show_sku>1</show_sku>
                <show_thumbnail>1</show_thumbnail>
                <show_desc>1</show_desc>
                <show_price>1</show_price>
                <show_reviews>1</show_reviews>
                <show_addtocart>1</show_addtocart>
                <show_addto>1</show_addto>
                <show_label>1</show_label>
            </products_list>
			<image_product>
				<use_tabs>1</use_tabs>
                <view_social>0</view_social>
			</image_product>
			<ajaxcart>
				<auto_close>0</auto_close>
			</ajaxcart>
			<sidebar>
				<!--<list>poll,popular_tags,compare</list>-->
				<list>catalog_search_layer,catalog_leftnav,catalog_shopby,catalog_related,reorder_sidebar,wishlist_sidebar,compare,poll,popular_tags</list>
				<block_data>
					<popular_tags>
						<type>tag/popular</type>
						<name>tags_popular</name>
						<template>tag/popular.phtml</template>
						<after></after>
					</popular_tags>
					<poll>
						<type>poll/activePoll</type>
						<name>poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
					</poll>
					<compare>
						<type>catalog/product_compare_sidebar</type>
						<name>catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<!--<after>catalog.leftnav</after>-->
					</compare>
					<catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
					<catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before>-</before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
					<catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
					<catalog_related>
						<type>catalog/product_list_related</type>
						<name>catalog.product.related</name>
						<template>catalog/product/list/related.phtml</template>
						<before>-</before>
						<handles>catalog_product_view</handles>
					</catalog_related>
					<wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
					</wishlist_sidebar>
					<reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
				</block_data>
			</sidebar>
			<position>
				<popular_tags>left</popular_tags>
				<poll>left</poll>
				<compare>left</compare>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>
				<catalog_related>right</catalog_related>
				<wishlist_sidebar>left</wishlist_sidebar>
				<reorder_sidebar>left</reorder_sidebar>
				<customer_account_navigation>left</customer_account_navigation>
			</position>
		</em0095>
	</default>
</config>