<?xml version="1.0"?>
<config>
    <modules>
        <EM_BoughtOfRecentViewedProducts>
            <version>0.1.0</version>
        </EM_BoughtOfRecentViewedProducts>
    </modules>
	<frontend>
		<events>
			<catalog_controller_product_view>
                <observers>
                    <boughtofrecentviewedproducts>
                        <class>boughtofrecentviewedproducts/observer</class>
                        <method>catalogProductView</method>
                    </boughtofrecentviewedproducts>
                </observers>
            </catalog_controller_product_view>
		</events>		
		<routers>
            <boughtofrecentviewedproducts>
                <use>standard</use>
                <args>
                    <module>EM_BoughtOfRecentViewedProducts</module>
                    <frontName>embfrvp</frontName>
                </args>
            </boughtofrecentviewedproducts>
        </routers>
	</frontend>
	<adminhtml>
		<events>
			<sales_order_invoice_register>
                <observers>
                    <boughtofrecentviewedproducts_afterinvoiceorder>
                        <class>boughtofrecentviewedproducts/observer</class>
                        <method>afterInvoiceOrder</method>
                    </boughtofrecentviewedproducts_afterinvoiceorder>
                </observers>
            </sales_order_invoice_register>
		</events>
	</adminhtml>
    <global>
        <models>
            <boughtofrecentviewedproducts>
                <class>EM_BoughtOfRecentViewedProducts_Model</class>
            </boughtofrecentviewedproducts>
        </models>
		
        <blocks>
            <boughtofrecentviewedproducts>
                <class>EM_BoughtOfRecentViewedProducts_Block</class>
            </boughtofrecentviewedproducts>
        </blocks>
		
        <helpers>
            <boughtofrecentviewedproducts>
                <class>EM_BoughtOfRecentViewedProducts_Helper</class>
            </boughtofrecentviewedproducts>
        </helpers>
    </global>
</config>