<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Newproductpage>
            <version>0.1.0</version>
        </Flag_Newproductpage>
    </modules>
    <global>
        <models>
            <flag_newproductpage>
                <class>Flag_Newproductpage_Model</class>
                <resourceModel>flag_newproductpage_resource</resourceModel>
            </flag_newproductpage>
            <flag_newproductpage_resource>
                <class>Flag_Newproductpage_Model_Resource</class>
            </flag_newproductpage_resource>
        </models>
        <blocks>
            <flag_newproductpage>
                <class>Flag_Newproductpage_Block</class>
            </flag_newproductpage>
        </blocks>
        <helpers>
            <flag_newproductpage>
                <class>Flag_Newproductpage_Helper</class>
            </flag_newproductpage>
        </helpers>
        <resources>
            <flag_newproductpage_setup>
                <setup>
                    <module>Flag_Newproductpage</module>
                </setup>
            </flag_newproductpage_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <flag_newproductpage>
                <use>standard</use>
                <args>
                    <module>Flag_Newproductpage</module>
                    <frontName>san-pham-moi</frontName>
                </args>
            </flag_newproductpage>
        </routers>
        <layout>
            <updates>
                <newproductpage>
                    <file>newproductpage.xml</file>
                </newproductpage>
            </updates>
        </layout>
    </frontend>
</config>