<?xml version="1.0"?>
<config>
    <modules>
        <Min_NewAtt>
            <version>0.1.5</version>
        </Min_NewAtt>
    </modules>
    <global>
        <models>
            <min_newatt>
                <class>Min_NewAtt_Model</class>
            </min_newatt>
            <catalog>
                <rewrite>
                    <category>Min_NewAtt_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <min_newatt>
                <class>Min_NewAtt_Block</class>
            </min_newatt>
        </blocks>
        <helpers>
            <min_newatt>
                <class>Min_NewAtt_Helper</class>
            </min_newatt>
            <catalog>
                <rewrite>
                    <output>Min_NewAtt_Helper_Output</output>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <min_newatt_setup>
                <setup>
                    <module>Min_NewAtt</module>
                </setup>
            </min_newatt_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <min_newatt_update_category>
                        <type>singleton</type>
                        <class>min_newatt/observer</class>
                        <method>updateCategory</method>
                    </min_newatt_update_category>
                </observers>
            </catalog_product_save_before>
            <catalog_entity_attribute_save_after>
                <observers>
                    <min_newatt_update_category>
                        <type>singleton</type>
                        <class>min_newatt/observer</class>
                        <method>updateCategoryAtt</method>
                    </min_newatt_update_category>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </global>
    <frontend>
    <routers>
        <min_newatt>
            <use>standard</use>
            <args>
                <module>Min_NewAtt</module>
                <frontName>min</frontName>
            </args>
        </min_newatt>
    </routers>
</frontend>
    <default>
        <min_newatt>
            <report>
                <password_wss>hgkdshgkjdshgiue9889hwakjh4jnguy45t4389435tnieyvn83kssgjfdhgh874yt4</password_wss>
            </report>
        </min_newatt>
    </default>
</config>