<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Setup>
            <version>0.1.0</version>
        </Flag_Setup>
    </modules>
    <global>
        <models>
            <flag_setup>
                <class>Flag_Setup_Model</class>
                <resourceModel>flag_setup_resource</resourceModel>
            </flag_setup>
            <flag_setup_resource>
                <class>Flag_Setup_Model_Resource</class>
            </flag_setup_resource>
            <customer>
                <rewrite>
                    <customer>Flag_Setup_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <flag_setup>
                <class>Flag_Setup_Block</class>
            </flag_setup>
            <catalog>
                <rewrite>
                    <breadcrumbs>Flag_Setup_Block_Catalog_Breadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <flag_setup>
                <class>Flag_Setup_Helper</class>
            </flag_setup>
        </helpers>
        <resources>
            <flag_setup_setup>
                <setup>
                    <module>Flag_Setup</module>
                </setup>
            </flag_setup_setup>
        </resources>
    </global>
</config>