<?xml version="1.0"?>
<config>
    <modules>
        <Flag_Cart>
            <version>0.1.0</version>
        </Flag_Cart>
    </modules>
    <frontend>
        <routers>
            <flagcart>
                <use>standard</use>
                <args>
                    <module>Flag_Cart</module>
                    <frontName>flagcart</frontName>
                </args>
            </flagcart>
        </routers>
        <layout>
            <updates>
                <flagcart>
                    <file>flag_cart.xml</file>
                </flagcart>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <flag_cart>
                <class>Flag_Cart_Model</class>
            </flag_cart>
        </models>
        <blocks>
            <flag_cart>
                <class>Flag_Cart_Block</class>
            </flag_cart>
        </blocks>
        <helpers>
            <flag_cart>
                <class>Flag_Cart_Helper</class>
            </flag_cart>
        </helpers>
    </global>
</config>